.header-section {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 12px 45px -8px rgb(204, 204, 204);
    padding: 1.3rem 7.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.main-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 120px;
}

.navbar {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.navbar div {
    width: 100px;
}

.login-btn,
.signup-btn {
    display: inline-block;
    border: 1px solid rgb(19, 19, 19);
    padding: 5px 14px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    transition: padding 0.1s ease-in-out;
    box-sizing: content-box;
    width: 60px;
    text-align: center;
}

.login-btn {
    color: #2b2b2b;
}

.signup-btn {
    background-color: rgb(223, 35, 35);
    color: #ffffff;
    border: none;
}

.login-btn:hover,
.signup-btn:hover {
    padding: 7px 18px;
}

.lang-icon {
    display: flex;
    gap: 0.2rem;
    align-items: center;
    cursor: pointer;
    width: 70px;
    border-radius: 10px;
    padding: 7px 14px;
    transition: 0.2s;
    justify-content: space-between;
    position: relative;
}

.lang-icon:hover {
    background-color: rgb(240, 238, 238);
}

.icon {
    font-size: 20px;
    font-weight: 800;
}

/* Overlay (Arka Plan Karanlığı) */
.overlay {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100% !important;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Hafif koyulaştırılmış efekt */
    z-index: 9;
    /* Dropdown'un arkasında kalacak */
}

/* Dropdown Modal */
.dropdown-modal {
    position: absolute;
    top: 50px;
    right: 0%;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    width: 150px !important;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 10;
    /* Overlay'den büyük olmalı */
}

/* Açıkken (Animasyon) */
.dropdown-modal.open {
    opacity: 1;
    transform: translateY(0);
}

/* Dropdown İçindeki Listeler */
.dropdown-modal ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;

}

.dropdown-modal ul li {
    padding: 15px;
    cursor: pointer;
    transition: background 0.2s ease;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

.dropdown-modal ul li:hover {
    background: rgba(0, 0, 0, 0.05);
}

.choose-icon {
    color: green;
}

.shop-icon {
    color: #000;
    border-radius: 50%;
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding: 15px;
    transition: background-color 0.2s ease;
}

.shop-icon:hover {
    background-color: rgb(245, 245, 245);
}

.mobile-header {
    width: 100%;
    position: relative;
}

.mobile-header .mobile-header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-div {
    position: absolute;
    left: -90px;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-icon {
    color: #000;
    border-radius: 50%;
    cursor: pointer;
    width: 50px;
    height: 20px;
    /* padding: 15px; */
    transition: background-color 0.2s ease;
}

.user-div:hover {
    background-color: rgb(245, 245, 245);
}

.shop-div {
    position: absolute;
    right: -90px;
}

@media screen and (min-width:800px) {
    .mobile-header {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .main-header {
        display: none;
    }

    .header-section {
        padding: 0rem 7.1rem !important;
    }
}